/* MAIN */
* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
html,
input,
textarea,
button {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  color: #302e2e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body,
input,
button,
textarea {
  font-size: 18px;
  line-height: 25px;
}

/* FONTS */
b {
  font-weight: bold;
}
i {
  font-style: italic;
}

/* LINKS */
a {
  text-decoration: none;
  color: #008538;
}
a:visited {
  color: #008538;
}

/* TITLES */
h1 {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 50px;
  line-height: 55px;
  font-weight: bold;
}
h2 {
  font-size: 22px;
  line-height: 27px;
  font-weight: bold;
}
h3 {
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
}

/* FLEXBOX */
.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
